<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- nav导航菜单 -->
<div class="ui segment" id="index-header-nav" th:fragment="nav-menu">
    <div class="ui secondary menu">
        <a th:href="@{/index}" th:class="${active=='index.html'?'active item':'item'}">首页</a>
        <a th:href="@{/blog/toBlogIndex}" th:class="${active=='blog.html'?'active item':'item'}"><i class="pen square icon"></i> 博客 </a>
        <a th:href="@{/say/toSay}" th:class="${active=='say.html'?'active item':'item'}"><i class="bullhorn icon"></i> 说说</a>
        <a th:href="@{/video/toVideoIndex}" th:class="${active=='video.html'?'active item':'item'}"><i class="video play icon"></i> 免费课 </a>
        <a th:href="@{/plus/toFileDown}" th:class="${active=='file.html'?'active item':'item'}"><i class="folder open outline icon"></i> 工具站</a>
        <a th:href="@{/plus/toAboutMe}" th:class="${active=='about.html'?'active item':'item'}"><i class="smile outline icon"></i> 关于我 </a>

        <!--登录注销-->
        <div class="right menu">
            <!--未登录-->
            <div th:if="${session.loginUser==null}">
                <a class="item" th:href="@{/toLogin}">
                    <i class="address card icon"></i> 登录
                </a>
            </div>
            <!--已登录-->
            <div th:if="${session.loginUser!=null}">
                <a th:href="@{/usr/toUserCenter}" th:class="${active=='usercenter.html'?'active item':'item'}">
                    <i class="address card icon"></i> [[${session.loginUser.getName()}]]
                </a>
            </div>
        </div>
    </div>
</div>


<!--尾部-->

<div th:fragment="common-footer">
    <br>
    <div class="ui three column stackable grid">
        <div class="column">
            <div class="ui raised segment">
                <div class="ui">
                    <div class="content">
                        <h5 class="content">秦疆：建站声明</h5>
                        <hr>
                        <div><i class="bullhorn icon"></i> 用心努力打造高品质的Java学习教程</div>
                        <div><i class="bullhorn icon"></i> 帮助更多想进入这个行业的人找到一条捷径</div>
                        <div><i class="bullhorn icon"></i> 如果觉得我帮助到了您，不妨常来看看</div>
                        <div><i class="bullhorn icon"></i> 本站亏损运营，招志愿者一起运营，真的没钱</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui raised segment">
                <div class="ui">
                    <div class="content">
                        <h5 class="content">商务合作</h5>
                        <hr>
                        <div><i class="bullhorn icon"></i> 尽我所能，做真正的教育</div>
                        <div><i class="qq icon"></i> 24736743</div>
                        <div><i class="envelope open outline icon"></i> 24736743@qq.com</div>
                        <div><i class="wechat icon"></i> qinl0vejiang &nbsp;&nbsp;&nbsp; [别看错,中间是0]</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui raised segment">
                <div class="ui">
                    <div class="content">
                        <h5 class="content">小小愿望</h5>
                        <hr>
                        <div><i class="heart outline icon"></i> 一个人的力量和精力真的好有限</div>
                        <div><i class="heart outline icon"></i> 希望大家能够将本小站分享给你周围的人</div>
                        <div><i class="heart outline icon"></i> 没有什么实质性的东西能够给到大家</div>
                        <div><i class="heart outline icon"></i> 祝大家：天天开心 | 学有所成 | offer缠身</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--支付宝底部广告-->
<div class="ui segment" th:fragment="appreciate-footer">
    <div style="text-align: center;">
        <h3>你们的支持，是我继续坚持下去的动力</h3>
        <br>
    </div>

    <div class="ui two column stackable grid">
        <div class="column" style="text-align: center;">
            <div class="ui card" style="margin: 0 auto">
                <div class="image">
                    <img th:src="@{/qinjiang/images/zhifubao.jpg}" width="50%">
                </div>
                <div class="content">
                    <div class="header">支付宝</div>
                    <div class="meta">
                        <a>谢谢你对服务器的赞助</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" style="text-align: center;">
            <div class="ui card" style="margin: 0 auto">
                <div class="image">
                    <img th:src="@{/qinjiang/images/weixin.png}">
                </div>
                <div class="content">
                    <div class="header">微信</div>
                    <div class="meta">
                        <a>谢谢你对服务器的赞助</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>