<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>云文件</title>
    <!--semantic-ui-->
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link th:href="@{/qinjiang/css/qinstyle.css}" rel="stylesheet">
</head>
<body>

<!--主容器-->
<div class="ui container">

    <div th:replace="~{/commons/common::nav-menu(active='file.html')}"></div>

    <!--中间主体-->
    <div class="ui grid">
        <div class="row">
            <div class="twelve wide column">
                <div class="ui segment">
                    <div class="content">
                        <h3 class="ui header" style="text-align: center">
                            狂神的云文件系统
                        </h3>
                        <div style="text-align: center">
                            <small>秦老师温馨提示：点击文件名称即可下载</small>
                        </div>
                        <div class="ui segment">
                            <div class="content">
                                <div class="ui divided items">

                                    <div class="item">
                                        <div class="middle aligned content">
                                            <i class="folder open icon"></i>
                                            <a href="">IntelliJ IDEA 【秦老师上课用的】</a>
                                        </div>
                                        <div class="right">
                                            下载次数：
                                            <a class="ui teal circular label">99+</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="middle aligned content">
                                            <i class="folder open icon"></i>
                                            <a href="">MySQL压缩包版 【秦老师上课用的】</a>
                                        </div>
                                        <div class="right">
                                            下载次数：
                                            <a class="ui teal circular label">99+</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--博客侧边栏-->
            <div class="four wide column">
                <div class="ui raised card sticky">
                    <div class="content">
                        <div class="header">公示栏</div>
                        <div class="description">
                            <p><i class="user outline icon"></i> 会员总数：<span>999</span></p>
                            <p><i class="comment alternate outline icon"></i> 交流群：<span>664386224</span></p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="right floated author">
                            <span>服务器压力有点大呀</span>
                        </div>
                    </div>
                </div>
                <div class="ui card" style="margin: 0 auto">
                    <div class="image">
                        <img th:src="@{/qinjiang/images/weixin.png}">
                    </div>
                    <div class="content">
                        <div class="header">微信</div>
                        <div class="meta">
                            <a>谢谢你对服务器的赞助</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="~{/commons/common::common-footer}"></div>

</div>


<script th:src="@{/qinjiang/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/qinjiang/js/semantic.min.js}"></script>
<script>

</script>

</body>
</html>