<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>说说</title>
    <!--semantic-ui-->
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link th:href="@{/qinjiang/css/qinstyle.css}" rel="stylesheet">
</head>
<body>


<!--主容器-->
<div class="ui container">

    <div th:replace="~{/commons/common::nav-menu(active='say.html')}"></div>

    <!--中间主体-->
    <div class="ui grid">
        <div class="row">
            <div class="twelve wide column">
                <div class="ui segment">
                    <div class="content">
                        <!--标题居中-->
                        <h3 class="ui header" style="text-align: center">
                            月色真美
                        </h3>
                        <div style="text-align: center">
                            <small>记录一些暖心的事儿~</small>
                        </div>
                        <!--说说-->
                        <div class="ui segment" th:each="i:${#numbers.sequence(0,3)}">
                            <div class="content">
                                <div class="ui feed">
                                    <div class="event">
                                        <div class="label">
                                            <img th:src="@{/qinjiang/images/tx.jpg}">
                                        </div>
                                        <div class="content">
                                            <div class="summary">
                                                <a>狂神说</a> <small>发表了一条说说</small>
                                                <div class="date">
                                                    3 days ago
                                                </div>
                                            </div>
                                            <div class="extra text">
                                                i love three things in this world. <br>
                                                sun,moon and you. <br>
                                                sun for morning. <br>
                                                moon for night. <br>
                                                you forever. <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--下一页-->
                        <br>
                        <div style="text-align: center">
                            共 <span>99</span> 条 &nbsp;
                            <a href=""><i class="right chevron icon"></i>下一页</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--博客侧边栏-->
            <div class="four wide column">
                <!--info-->
                <div class="ui raised card">
                    <div class="content">
                        <div class="header">Qin Jiang</div>
                        <div class="meta">
                            <span class="category">code、music、money</span>
                        </div>
                        <div class="description">
                            <p>一个温暖的南方男孩，生在新疆，家在重庆，爱上了苏黎世！</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="right floated author">
                            <span>Java全栈工程师 <i class="forward icon"></i>讲师</span>
                        </div>
                    </div>
                </div>

                <div class="ui raised card">
                    <div class="content">
                        <div class="header">发表说说</div>
                        <div class="description">
                            <form action="">
                                <div class="ui form">
                                    <div class="field">
                                        <textarea placeholder="支持html语法"></textarea>
                                    </div>
                                    <div class="field">
                                        <input type="submit" class="ui blue submit button" value="推送"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="right floated author">
                            <span>有什么想说的呢？记下来吧</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="~{/commons/common::common-footer}"></div>
</div>


<script th:src="@{/qinjiang/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/qinjiang/js/semantic.min.js}"></script>
<script>

</script>

</body>
</html>